@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

body, html {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: 0;
    z-index: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/SplashPageImage.jpg");
}

p {
    font-size: 25px
}

#main {
    position: relative;
    top: 80%;
    border-radius: 20px;
}

.content {
    background-color: #f2f6f6;
    color: #686868;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 1%;
    z-index: 1;
}

.divider {
    margin: auto;
    width: 75%;
    height: 1px;
    background-color: darkred;
}

.dividerImage {
    height: 300px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#sources {
    margin-top: 1%;
    margin-bottom: 1%;
}

.sourceLink {
    text-decoration: none;
    margin: 1%;
}

.sourceIcon {
    height: 50px;
}

#socials {
    margin-top: 1%;
    margin-bottom: 1%;
}

.socialLink {
    text-decoration: none;
    margin: 1%;
}

.socialIcon {
    height: 50px;
}
